#botom {
    background-color: antiquewhite;
    color: wheat;
    width: 100px;
    padding: 20px;
    border: 30px;
}
#botom02 {
    background-color: blue;
    color: wheat;
    width: 100px;
    padding: 20px;
    border: 30px;
}